/* styles.css */
body {
    background-image: url('jep.png');
    background-repeat: repeat;
    background-size: 75px 75px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Additional styling */
header {
    background-color: black;
    text-align: center;
    padding: 20px;
}

main {
    background-image: url('jep.png');
    background-size: 75px 75px;
    text-align: center;
    padding: 50px;
}

footer {
    background-image: url('jep.png');
    background-size: 75px 75px;
    text-align: center;
    padding: 10px;
}
.big-button {
    display: inline-block;
    padding: 15px 30px;
    background-image: url('jep.png');
    background-size: 20px 20px;
    background-repeat: repeat;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.big-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


